.form-control::-webkit-input-placeholder{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #6ddbf9;
}
.form-control:-ms-input-placeholder {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #6ddbf9;
  }
  
  .form-control:-moz-placeholder {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400 ;
    color: #6ddbf9;
  }
  
  .form-control::-moz-placeholder {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #6ddbf9;
  }

  .search-form{
    background: rgba(88, 151, 245, 0.3);
    padding: 1%;

    width: 50%;
    margin-left: 25%;
    justify-content: space-between;
    align-items: center;
  }

.search-button{
  background-color: transparent;
  border: transparent;
}

.fa-search{
  color: #6ddbf9;

}