.rank{
    color: white;
    font-weight: bold;
    margin-right: 3rem;
    margin-left: 2rem;
    font-size: 100%;
}
.rank-title{
    font-size: 100%;
}

.search-volume{
    font-size: 100%;
    float: right;

}

.rank-des{
    margin-top: 1rem;
    color: white;
    font-weight: bold;
    font-size: 120%;
}

.rank-note{
    color: rgba(109, 219, 249, 0.5);
    margin-top: 2rem;
}