.video-item{
    display: flex !important;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.7);
    margin-bottom: 0.5rem;
}

.video-item img {
    max-width: 100px;
}

.info div{
    margin-left: 15px;
    margin-top: 1px;
    margin-bottom: 1px;
}